/* import font */

/* colors */

:root {
  --primary-50: #f2f7fd;
  --primary-100: #e4edfa;
  --primary-200: #c4dbf3;
  --primary-300: #8fbdea;
  --primary-400: #549bdc;
  --primary-500: #2e7ec9;
  --primary-600: #1e63ab;
  --primary-700: #1a4f8a;
  --primary-800: #194573;
  --primary-900: #1a3a60;
  --primary-950: #152d4d;

  --secondary-50: #fff0f1;
  --secondary-100: #ffe3e4;
  --secondary-200: #ffcacf;
  --secondary-300: #ff9fa8;
  --secondary-400: #ff6a7b;
  --secondary-500: #fe3552;
  --secondary-600: #ed1941;
  --secondary-700: #c70931;
  --secondary-800: #a70a31;
  --secondary-900: #8e0d31;
  --secondary-950: #500115;
}

html, body {
    background-color: #e4edfa;
}